/webapp/channels/src/packages/mattermost-redux/src/store/configureStore.ts @Unity-Billal-mesloub
/server/channels/app/authentication.go @Unity-Billal-mesloub
/server/channels/app/authorization.go @Unity-Billal-mesloub
